/* general */

* {
  box-sizing: border-box;
}

:root {
  --header-height: 450px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #333;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* header */

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: var(--header-height);
  background: url(../images/001.png);
  opacity: 0.4;
}

.header-content {
  max-width: 900px;
  height: var(--header-height);
  margin: auto;
  padding: 90px 0;
}

header h1,
header p {
  padding: 0.5rem;
}

header p {
  padding-bottom: 3rem;
}

header a {
  margin: 100px;
  padding: 1.1em 2em;
  color: #fff;
  background-color: #333;
  border: #666 1px solid;
}

header a:hover {
  color: #333;
  background-color: #eaeaea;
}

/* main */

#section-a {
  padding: 0.5em 1em 2.5em;
  color: #333;
  background-color: #eaeaea;
}

.a-content {
  margin: auto;
  max-width: 850px;
}

.a-content * {
  padding: 0.6em 0;
}

.a-content p {
  column-count: 2;
}

#section-b {
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 1em;
}

.card {
  flex: 1;
  max-width: 275px;
  background-color: #fff;
}

img {
  width: 100%;
}

.card-content {
  padding: 1.5em;
}

.card h3,
.card p {
  color: #333;
  padding: 0.9em 0;
}

#section-c {
  padding: 1em;
  color: #333;
  background-color: white;
}

#section-c * {
  padding: 1em 0;
}

.c-content {
  margin: auto;
  max-width: 850px;
}

#section-d {
  display: flex;
}

#section-d > div {
  padding: 2em 1em;
  width: calc(100% / 2);
}

#section-d > div:first-child {
  background-color: #2690d4;
}

#section-d div * {
  padding: 1em;
}

/* footer */

footer {
  display: flex;
  padding: 2em 0;
  background-color: #000;
}

footer > p {
  width: calc(100% / 2);
}

footer a {
  color: #2690d4;
}

/* adaptability */

@media (max-width: 700px) {
  .a-content p {
    column-count: 1;
  }

  #section-b {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  #section-d {
    flex-direction: column;
  }

  #section-d > div {
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 1em;
  }

  footer > p {
    width: 100%;
  }
}
