* {
  box-sizing: border-box;
}

:root {
  --header-height: 450px;
  --card-width: 275px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: white;
  text-align: center;
  background-color: #333;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* header */

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: var(--header-height);
  background: url(../images/001.png);
  opacity: 0.4;
}

.header-content {
  height: var(--header-height);
  margin: auto;
  max-width: 900px;
  padding: 90px 0;
}

header h1,
header p {
  padding: 0.5rem;
}

header p {
  padding-bottom: 3rem;
}

header a {
  color: #fff;
  background-color: #333;
  border: #666 1px solid;
  padding: 1.1em 2em;
  margin: 100px;
}

header a:hover {
  background-color: #eaeaea;
  color: #333;
}

/* main */

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

#section-a {
  background-color: #eaeaea;
  color: black;
  padding: 0.5em 0 2.5em;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 850px;
}

.content * {
  color: #333;
  padding: 0.6em 0;
}

.content p {
  column-count: 2;
  column-width: 400px;
}

#section-b {
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  color: black;
}

.card {
  width: var(--card-width);
  background-color: white;
}

.card-container {
  padding: 1.5em;
}

.card h3,
.card p {
  color: #333;
  padding: 0.9em 0;
}

img {
  width: var(--card-width);
}

#section-c {
  background-color: white;
  color: black;
  padding: 2em 30em;
}

#section-c * {
  color: #333;
  padding: 1em 0;
}

#section-d {
  display: flex;
}

#section-d > div {
  width: calc(100% / 2);
  padding: 2em 1em;
}

#section-d > div:first-child {
  background-color: #2690d4;
}

#section-d div * {
  padding: 1em;
}

/* footer */

footer {
  display: flex;
  background-color: black;
  padding: 2em 0;
}

footer > p {
  width: calc(100% / 2);
}

footer a {
  color: #2690d4;
}
